<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90649879109-452onugope7mvmkuq4bot0dsjkodgh9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90649879109-452onugope7mvmkuq4bot0dsjkodgh9i</string>
	<key>API_KEY</key>
	<string>AIzaSyClKTK5cRYW9fFHsXuFoipitnHlBEdkf8I</string>
	<key>GCM_SENDER_ID</key>
	<string>90649879109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hh.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twittertutorial-94501</string>
	<key>STORAGE_BUCKET</key>
	<string>twittertutorial-94501.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90649879109:ios:34ec6262b5671574b1b92c</string>
</dict>
</plist>